Source: inytag
Section: libs
Priority: optional
Maintainer: torikhabib <torik.habib@gmail.com>
Build-Depends: meson (>= 0.43),
               debhelper (>= 9),
               dh-autoreconf,
               intltool,
               autotools-dev,
               valac,
               pkg-config,
               libtag1-dev,
Standards-Version: 4.14

Package: inytag
Architecture: any
Depends: libtag1v5-vanilla, ${misc:Depends}, ${shlibs:Depends}
Description: Taglib For Valac
